<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="assets/navimages/camera.png" alt="" width="50px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="awards">Awards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact">Contact me</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Photos&nbsp;by&nbsp;topic
          </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item text-light" routerLink="/street">Street Photos</a
              >
            </li>
            <li>
              <a class="dropdown-item text-light" routerLink="/travel"
                >Travel Photos</a
              >
            </li>
            <li>
              <hr class="dropdown-divider bg-light" />
            </li>
            <li>
              <a class="dropdown-item text-light" routerLink="/model">Models</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-light" routerLink="/animal">Animals</a
              >
            </li>
            <li>
              <a class="dropdown-item text-light" routerLink="/cele"
                >Celebrities</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>