<div class="parallax"></div>

<div class="awards">
    <!-- Top part -->
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-md-0 mt-lg-3 mt-sm-3">
            <div class="col-lg-6 col-md-12 mb-md-0 ipa_img">
                <img src="/assets/awards/awards-6.png" class="img-fluid d-none d-sm-block" alt="" />
                <p class="best_text mt-1 mx-5">Best Photographer of the year 2021</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-md-0">
            <img src="/assets/awards/awards-4.jpg" class="img-fluid d-none d-sm-block" alt="" width="100%" />
        </div>
    </div>

    <!-- Dividing line -->
    <img src="/assets/awards/awards-9.jpg" class="img-fluid col-12" alt="" />

    <!-- Award Info -->
    <div class="container">
        <div class="row info_box">
            <div class="col-lg-4 col-md-12 mb-md-0 mt-sm-3">
                <!-- <div class="col-12 mb-md-0 ipa_img"> -->
                <img src="/assets/awards/awards-10.jpg" class="img-fluid mx-auto d-flex justify-content-center award_photo d-none d-sm-block" alt="" />
            </div>
            <div class="col-lg-8 col-md-12 mb-md-0 award_text">
                <!-- <p>Hold Me Close</p> -->
                <div class="card award_info">
                    <div class="card-body">
                        <h4 class="card-title award_name">Hold Me Close</h4>
                        <h5 class="card-text">Hannes Waldstamm</h5>
                        <h5 class="card-text">Brazil, Sao Paulo</h5>
                        <h5 class="card-text">
                            Prize: Analog Film Photographer Of the Year
                        </h5>
                        <h5 class="card-text">Date of Photograph: March 2021</h5>
                        <h5 class="card-text">
                            Technical Info: Pentax 67, Portra 160, 75mm lens, 15sec @ F11
                        </h5>
                    </div>
                    <hr />
                    <p>
                        Brazil has one of the the world's highest rates of Covid-19 infections, at over 5 million, and some 148,000 people are thought to have died of the disease (as of 8 October 2020). In March, care homes across the country closed their doors to all visitors,
                        preventing millions of concerned Brazilians from visiting their elderly relatives and having any physical contact with them. Tens of thousands died without being near their loved ones one last time.
                    </p>
                    <p>
                        Bruno Zani, a businessman in the events industry, claims to have invented the 'Hug Curtain' and his model has since been copied all over the world.Hannes Waldstamm travelled to Brazil and met some of the delighted people who have been able to hug their
                        relatives for the first time in months.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>