.parallax {
    /* The image used */
    background-image: url("/assets/awards/awards-1.jpg");
    /* Set a specific height */
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.awards {
    height: 100%;
    background-color: black;
    padding: 0 8vw;
}

.ipa_img {
    width: auto;
}

.best_text {
    width: 80vw;
    font-size: 2rem;
}

.line {
    background-color: transparent;
    margin: auto;
}

.award_photo {
    width: 25vw;
}

.award_text {
    color: gray;
    margin-bottom: 20vw;
   
}

.award_info {
    background-color: black;
    font-size: 1rem;
    margin-top: 5vh;
    font-weight: 200;
    
}

.award_name {
    font-size: 2rem;
    color: #ad9f02;
}