<!-- hero -->
<hero></hero>
<!-- main content 1 -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <img src="/assets/main/main-photo-1.jpg" class="img-fluid p-4 mx-auto d-none d-sm-block" alt="restaurant" />
            </div>
            <div class="col-lg-6 col-md-12 mb-md-0 mt-lg-2 mt-sm-3 p-4">
                <p class="fw-bold topic mb-4 mt-4">Hannes Waldstamm</p>
                <p class="mt-4 text_main">Welcome to Hannes Waldstamm's homepage!</p>
                <p class="text_main">
                    Here you'll find his portfolio, artstyles, workshops, personal informations, your very personal photo shoot or private coaching with Hannes. Thanks for stopping by and enjoy the art while being here!
                </p>
            </div>
        </div>
    </div>
</div>

<!-- main content 2 -->
<div class="hero_image">
    <div class="slide">
        <img src="/assets/main/main-photo-10.png" class="img-fluid fit-image" alt="Photographer" />
    </div>
</div>

<!-- main content 3 -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-md-0 mt-lg-4 mt-sm-3 p-4">
                <p class="mt-4 text_main">
                    Don't hesistate to get in contact if you have any questions. We'll try our best to response as soon as possible and get in touch with you. Whatever you'll maybe have in mind - we can make it happen and frame it. 100% happiness for our customers is our
                    main goal. Underneath you'll find some examples of previous works.
                </p>
                <p id="main-topics" class="text_main">
                    <a routerLink="/street">Street Photography</a> |
                    <a routerLink="/travel">Travel Photography</a> |
                    <a routerLink="/model">Models</a> | <a routerLink="/animal">Animals</a> |
                    <a routerLink="/cele">Celebrities</a>
                </p>
            </div>

            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <img src="/assets/main/main-photo-12.jpg" class="img-fluid p-4 mx-auto d-none d-sm-block" alt="restaurant" />
            </div>
        </div>
    </div>
</div>