<!-- hero -->
<hero></hero>
<!-- about -->
<div class="container-fluid">
   <div class="row">
    <div class="col-lg-4">
      <!-- <div class="card"> -->
        <div id="about-img">
          <img src="/assets/about/photographer.jpg" class="img-fluid p-4 mx-auto d-none d-sm-block" alt="photographer"/>
        </div>
      <!-- </div> -->
    </div>
    <div class="col-lg-8 ps-2 pt-3 py-3">
      <br>
      <p class="fw-bold topic mb-4">Hannes Waldstamm</p>
      <hr class="hr-about">
      <div class="container px-3">
        <p>My name is Hannes Waldstamm, I am a professional photographer and I love to take pictures in every kind of way.</p>
        <!-- <br> -->
        <p>I was born in Vienna, Austria, and spent most
          of my youth there, before I went to study photography at the Spéos Paris Photographic Institute. Now I live in
          Vienna again.
          I often travel for work, always looking forward to finding new places and meeting new people.</p>
        <!-- <br> -->
        <p>Since I was a small child, I have always had a keen interest in photography, how a camera is constructed, how it
          works and how pictures are taken was always a fascinating marvel to me!</p>
        <!-- <br> -->
        <p>I do a lot of landscape photos, along with aesthetic and sensual portraits, optical illusions, streetstyles. I
          cooporate with professional agencies around the world and was fortunate enough to gain a lot of
          experience already. Feel
          free to have a look at some of my certificates and awards below, to get a more in depth understanding of my
          qualifications as well as my journey in the art of photography.</p>
        <!-- <br> -->
        <p>I hope you enjoy my photography. If so, and if you would like to work with me, please use my contact page or
          various social media channels to leave a message. I am looking forward to meet you!
        </p>
      </div>
      <hr class="hr-about">
    </div>
  </div>
</div>

<!-- story of life or w/e, educations, works -->
